@layer utilities {

  .flex-center {
    &.inline {
      @apply inline-flex;
    }

    &:not(.inline) {
      @apply flex;
    }

    @apply items-center justify-center;
  }

  .flex-between {
    &.inline {
      @apply inline-flex;
    }

    &:not(.inline) {
      @apply flex;
    }

    @apply items-center justify-between;
  }

  .flex-around {
    &.inline {
      @apply inline-flex;
    }

    &:not(.inline) {
      @apply flex;
    }

    @apply items-center justify-around;
  }

  .flex-evenly {
    &.inline {
      @apply inline-flex;
    }

    &:not(.inline) {
      @apply flex;
    }

    @apply items-center justify-evenly;
  }  

  .pretnd-light {
    @apply font-light font-sans;
  }

  .pretnd-medium {
    @apply font-medium font-sans;
  }

  .pretnd {
    @apply font-light font-sans;
  }

  .pretnd-semibold {
    @apply font-semibold font-sans;
  }

  .pretnd-bold {
    @apply font-bold font-sans;
  }

  .text-shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .text-shadow-light {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .box-shadow {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  }

  .box-shadow-light {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }

  .iteration-infinite {
    animation-iteration-count: infinite;
  }

  .iteration-0 {
    animation-iteration-count: 0;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .reg-14 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
  }

  .bold-20 {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 700;
  }

  .bold-24 {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
  }

  .bold-28 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    font-weight: 700;
  }
}
