@layer base {
  html {
    scroll-behavior: smooth;
    font-family: Wanted Sans;
  }

  body {
    font-family: Wanted Sans;
  }

  textarea {
    resize: none;

    &:disabled {
      @apply bg-white;
    }
  }

  textarea:focus,
  input:focus,
  select:focus {
    outline: none;
  }

  li {
    @apply list-none;
  }

  th {
    @apply font-normal;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  svg {
    @apply inline-block;
    @apply shrink-0;
  }
}
