.topSection {
  position: relative;
  width: 100%;
  padding-bottom: 36%;
}

.topSection_up1280 {
  position: relative;
  width: 100%;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner_up1280 {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-bottom: 7%;
  top: 0;
  left: 0;
}