@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wanted Sans 로컬 폰트 로딩 */
@import "./fonts.css";
@import "./base/base.style.scss";
@import "./utility/utility.style.scss";
@import "./component/common.style.scss";
@import "./component/typography.style.scss";
@import "./component/button.style.scss";
@import "./component/input.style.scss";
@import "./thirdparty/react-slick.scss";
@import "./thirdparty/react-quill.scss";

@layer utilities {
  .prose h1 {
    @apply text-bold-36 m-0;
  }

  .prose h2 {
    @apply text-bold-32 m-0;
  }

  .prose h3 {
    @apply text-bold-24 m-0;
  }

  .prose p {
    @apply text-med-16 m-0;
  }

  /* 모바일 전용 */
  @media (max-width: 550px) {
    .prose h1 {
      @apply text-bold-32;
    }

    .prose h2 {
      @apply text-bold-24;
    }

    .prose h3 {
      @apply text-bold-20;
    }

    .prose p {
      @apply text-med-16;
    }
  }
}

/* input 자동완성 배경색 없애기 */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0px 1000px transparent inset !important;
  -webkit-text-fill-color: inherit !important;
  transition: background-color 5000s ease-in-out 0s;
}

/* Custom Scrollbar */
.scroll-custom::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scroll-custom::-webkit-scrollbar-track {
  background: transparent;
}

.scroll-custom::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.4);
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.scroll-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}

.scroll-custom::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.scroll-custom {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.4) transparent;
}

.prose .ql-align-center {
  text-align: center;
}

.prose .ql-align-right {
  text-align: right;
}

.prose .ql-align-left {
  text-align: left;
}